p
{
    color: rgb(239, 0, 0);
    text-align: center;
}
body
{
    background-color: rgba(0, 255, 34, 0.55);
    text-align: center;
}
table,th,td{
    border:solid;
    border-collapse: collapse;
    text-align: center;
}
h1
{

    color: rgb(57, 57, 131);
    text-align: center;
}
a{
    color: blue;
    text-align: center;
}